[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = ">=2.28.0"
inflection = ">=0.5.1"
pillow = ">=10.4.0"
numpy = "<2"
scikit-image = ">=0.21.0"
shapely = ">=2.0.5"
typed-argument-parser = ">=1.10.1"
typing-extensions = ">=4.12.2"
psutil = ">=6.0.0"
py3nvml = ">=0.2.7"
watchdog = ">=4.0.1"
gitpython = ">=3.1.43"
pyyaml = ">=6.0.1"
click = ">=8.1.7"
tabulate = ">=0.9.0"
inquirer = ">=3.3.0"
cryptography = ">=43.0.0"
pycryptodome = ">=3.20.0"
onnxruntime = ">=1.16.3"
ezkl = ">=12.0.1"

[dev-packages]
mypy = "*"
build = "*"

[requires]
python_version = "3.8"
