[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
inflection = "*"
pillow = "*"
numpy = "*"
scikit-image = "*"
shapely = "*"
protobuf = "3.19.0"
typed-argument-parser = "*"
typing-extensions = "*"
psutil = "*"
py3nvml = "*"
gitpython = "*"

[dev-packages]
mypy = "*"
build = "*"

[requires]
python_version = "3.8"
