[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
inflection = "*"
pillow = "*"
numpy = "<2"
scikit-image = "*"
shapely = "*"
typed-argument-parser = "*"
typing-extensions = "*"
psutil = "*"
py3nvml = "*"
watchdog = "*"
gitpython = "*"
pyyaml = "*"
click = "*"
tabulate = "*"
inquirer = "*"
docker = "*"
cryptography = "*"
pycryptodome = "*"
onnxruntime = "*"
ezkl = "*"

[dev-packages]
mypy = "*"
build = "*"

[requires]
python_version = "3.8"
